<h1>What the f******k is your question?</h1>

<form action="/answer">
  <input type="text" name="question" placeholder="What is your Question?????">
  <input type="submit" value="Are you sure?">
</form>

